doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/weather.css')
    link(rel="stylesheet", href="http://i.icomoon.io/public/temp/25601afa04/Occupato/style.css")
    script(src='/javascripts/snowstorm.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='https://code.jquery.com/jquery-2.1.1.js')
    script(src='https://cdn.socket.io/socket.io-1.0.0.js')
    script(src='/javascripts/serverConnect.js')

  body
    block content
