extends layout

block content
  .statuses.fill
    .container.fill
      .row.fill
        .col-sm-12.fill
          div(class="col-sm-4 occupato-status occupato-mens occupato-#{ mens }")
            .icon-winter_male.vertical-align.smallish-icons


          div(class="col-sm-4 occupato-status occupato-womens occupato-#{ womens }")
            .icon-winter_female.vertical-align.smallish-icons


          div(class="col-sm-4 occupato-status occupato-shower occupato-#{ shower }")
            .icon-winter_shower.vertical-align.smallish-icons

