html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: #00B7FF;
}
 .fill {
  height: 100%;
 }

@media screen and (max-width: 768px) {
  .occupato-status {
    height:33.33vh !important;
    font-size: 13em !important;
  }
}

.occupato-status {
  height: 100%;
  font-size: 30em;
  text-align: center;
}


.occupato-mens {
  background-color: #C5D865;
}


.occupato-womens {
  background-color: #A2D88C;
}


.occupato-shower {
  background-color: #C5D865;
}


.occupato-occupied {
  background-color: #D9453B;
}

.fa {
  font-size: 0.25em;
  vertical-align: middle;
}

.vertical-align {
    display: inline;
    align-items: center;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}