.status {
  float: left;
  font-size: 2em;
  text-transform: uppercase;
  width: 33.33%;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #555;
}

.status:hover {
  cursor: pointer;
  background-color: #aaa;
}


.occupied {
  background-color: #cf343a;
}
